
=




/* TYPOGRAPHY */

body {
    font-family: 'Catamaran', sans-serif;
}

/* HEADER */

.cd-header {
    
    background:  #a10022;
   
}

.cd-header h1 {
    line-height: 50px;
    padding: 35px;
}

/* CONTENT CONTAINERS */

.cd-gallery li.mix {
    background: white;
}

.cd-gallery li.mix h1, h3 {
    background:  #a10022;
    padding: 6px;
    color: white;  
}

.cd-gallery li.mix h2 {
    color: #a10022;
    padding: 6px;
    
}


.cd-tab-filter-wrapper {
    background: black;
}

/* Grid View */
.grid li.mix {
    background: red;
}

/* List View */
.list li.mix {
    width: 100%;
}

.list li.mix p {
    visibility: none;
}