
=


/* TYPOGRAPHY */

body {
    font-family: 'Droid Sans', sans-serif;

}

/* HEADER */

.cd-header {
    
    background:  #a10022;
   
}

.cd-header h1 {
    line-height: 50px;
    padding: 35px;
}

/* CONTENT CONTAINERS */

.cd-tab-filter-wrapper {
    background: #6d6e71;
}


.cd-gallery li.mix {
    background: white;
    vertical-align: top;
}

.cd-gallery li.mix p{
    margin: 10px;
    padding: 2px;
    line-height: 1.25;
    text-align: left;
}

.cd-gallery li.mix h1, h3 {
    background:  #a10022;
    padding: 6px;
    color: white;  
}

.cd-gallery li.mix h2 {
    color: #a10022;
    padding: 6px;
    
}

.cd-tab-filter-wrapper a:link, a:visited, a:hover, a:active {
    color: black;
}

/* Grid View */
.grid li.mix {
    background: white;
}

/* List View */
.list li.mix {
    width: 100%;
}

.list li.mix p {
    visibility: none;
}